<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Analyzing Your Text...</title>
</head>
<body>
  <!-------------------------------Alert Start--------------------------------->
  <!-------------------------------Alert Start--------------------------------->
  <div style="font-size:30px; background-color:tomato;
  color:white;" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>&nbsp&nbsp&nbsp&nbspWarning!!</strong> &nbsp&nbsp&nbsp&nbspSelect the Checkbox First !!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  </div>
 <a href="/"><button style="font-size:50px;margin-top:100px;margin-left:300px;" type="submit" class="btn btn-dark">BACK</button></a>
</body>
</html>